/CommunicationsException.java
/MySQLDataException.java
/MySQLIntegrityConstraintViolationException.java
/MySQLInvalidAuthorizationSpecException.java
/MySQLNonTransientConnectionException.java
/MySQLNonTransientException.java
/MySQLQueryInterruptedException.java
/MySQLSyntaxErrorException.java
/MySQLTimeoutException.java
/MySQLTransactionRollbackException.java
/MySQLTransientConnectionException.java
/MySQLTransientException.java
